<h1>Matches</h1>
<%= link_to "Back to Home", root_path%>

<h2>
  Total of Matches: <%= @matches.size%>
</h2>

<% @matches.each do |match| %>
  <div>
    <h3><%= link_to "Match #{match.id}", match %></h3>
  </div>
<% end%>
