<h1>Matches</h1>

<p>
  Total of Matches: <%= @matches.size%>
</p>

<% @matches.each do |match| %>
  <div>
    <h2>Match <%= match.id %></h2>
    <p>Players:</p>
    <ul>
      <% match.players.each do |player|%>
        <li><%= match.matches_players.find_by(player_id: player.id).name_used %></li>
      <% end %>
    </ul>
  </div>
<% end%>

<%= link_to "Back to logs", root_path%>