<h1>Matches</h1>
<%= link_to "Back to logs", root_path%>

<p>
  Total of Matches: <%= @matches.size%>
</p>

<% @matches.each do |match| %>
  <div>
    <h2><%= link_to "Match #{match.id}", match %></h2>
  </div>
<% end%>
